/* begin */

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: hsl(202, 86%, 94%);
}

/* left */

.left {
    background-color: white;

    h5 {
        font-weight: 900;
    }

    h6 {
        color: hsl(200, 26%, 54%);
    }

    .og {
        background-color: white;
        text-decoration: underline;
        color: hsl(200, 26%, 54%);
    }

    .hello {
        border: 1px solid hsl(200, 24%, 40%);

        &:hover {
            cursor: pointer;
        }

        .lilB {
            background-color: hsl(202, 86%, 94%);
            width: fit-content;
        }

        input {
            border: 0;

            &:focus {
                outline: none;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .types {
        border: solid;

        &:hover {
            cursor: pointer;
            border-color: hsl(61, 70%, 52%);
            background-color: hsla(60, 67%, 83%, 0.514);
        }

        input[type='radio'] {
            accent-color: hsl(61, 95%, 48%);
            cursor: pointer;
        }
    }

    .button {
        background-color: hsl(61, 70%, 52%);

        &:hover {
            cursor: pointer;
            background-color: hsl(61, 57%, 64%);
        }
    }
}

/* right */

.right {
    color: white;
    background-color: hsl(203, 58%, 20%);

    .empty {
        p {
            color: hsla(0, 0%, 100%, 0.568);
        }
    }

    .completed {
        display: none;

        .para {
            color: hsla(0, 0%, 100%, 0.568);
        }

        .summ {
            background-color: hsl(202, 55%, 16%);
            border-top: 5px solid hsl(61, 70%, 52%);

            p {
                color: hsla(0, 0%, 100%, 0.568);
            }

            .bigOne {
                font-size: 40px;
                color: hsl(61, 70%, 52%);
            }
        }
    }
}

@media (min-width: 767px) {
    .subbody {
        max-width: 800px;
        margin-top: 150px;
        background-color: white;
        border-radius: 20px;
    }

    .left {
        width: 400px;
        border-radius: 20px 0 0 20px;
    }

    .right {
        width: 400px;
        padding-top: 70px !important;
        border-radius: 0 20px 20px 50px;
    }

}