/* begin */

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: hsl(202, 86%, 94%);
}

/* left */

.left {
    background-color: white;

    .hello {
        border: 1px solid hsl(200, 24%, 40%);

        .lilB {
            background-color: hsl(202, 86%, 94%);
            width: fit-content;
        }

        input {
            border: 0;

            &:focus {
                border: 0;
            }
        }
    }
}

/* right */

.right {
    color: white;
    background-color: hsl(202, 55%, 16%);
}

.completed {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}